.container {
    position: relative;
    display: flex;
    border: 8px solid black;
    outline: 20px solid white;
    background: #344167;
  
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  
  .item {
    border: 1px solid white;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 10px;
    color: white;
    font: sans-serif;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }
  
  div:nth-of-type(3) {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 110px;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  